.Login {
  max-width: 500px;
  width: 100%;
  padding-top: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #1f2833;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Button {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  color: #66fcf1;
  background-color: #1f2833;
  border: 1px solid #66fcf1;
  border-radius: 20px;
  padding: 15px;
}

.Button:hover {
  color: #1f2833;
  background-color: #66fcf1;
  border: 1px solid #1f2833;
}


@media screen and (max-width: 550px) {
  .Login {
    width: 100%;
  }
}